<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
